.title-color {
	color: skyblue;
	font-size: 60;
}

.heading {
	font-size: 25;
	text-align: center;
	color: white;

}

.jumbotron {
	background-color: black;
	margin-bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.some {
	background-color: skyblue;
	text-align: center;


}

.something{
	border-width: 10px;
	color: white;
	text-align: center;
	font-size: 30;
}
.heading2 {
	font-size: 100;
	text-align: center;
}
.level {
	text-align: center;
	font-size: 25;
	color: skyblue;
	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.form {
  text-align: center;
}
.download {
	font-size: 40;
	text-align: right;
}
.info {
	text-align: left;
	font-size: 30;
	text-indent: 5em;

}
.quiz {
	font-size: 30;
	text-align: center;
}
.practicaltest {
	font-size: 30;
	text-align: right;
}

.test {
	color: red;
	font-size: 30;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.navbar {
	margin-bottom:0;
	background-color: #f5f5f5;
	
}

.info{
	font-size: 24px;
}


#title-font{
	font-size: 150px;
}

#title-font-small{
	font-size: 50px;
}

.bold {
	font-weight: bold;
	color: red;

}