{% extends "accounts/base.html" %}


{% block content %}
<br>
<h1>Please find your level wise score below:</h1><br><br>


<table class="table table-striped table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">Level</th>
      <th class="text-center">Score</th>
      <th class="text-center">Practical Test</th>
      <th class="text-center">Level Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center" scope="row">1</th>
      <td>{{ s1 }}</td>
      <td>{{ p1 }}</td>
      <td><button onclick="level_value(this.value)" value=1 id="level_change_1">{{ l1 }}</button></td>
    </tr>
    <tr>
      <th class="text-center" scope="row">2</th>
      <td>{{ s2 }}</td>
      <td>{{ p2 }}</td> 
      <td><button onclick="level_value(this.value)" value=2 id="level_change_2">{{ l2 }}</button></td>
    </tr>
    <tr>
      <th class="text-center" scope="row">3</th>
      <td>{{ s3 }}</td>
      <td>{{ p3 }}</td>
      <td><button onclick="level_value(this.value)" value=3 id="level_change_3">{{ l3 }}</button></td>

    </tr>
  </tbody>
</table>


<script>
$(document).ready(function(){
	if ("{{l1}}"=== "Completed" && "{{user_level_1}}" === "N"){
		$('#level_change_1').addClass('btn-primary');
		$('#level_change_1').text("Click here to complete Level");
	}
	else if ("{{l1}}"=== "Completed" && "{{user_level_1}}" === "Y"){
		$('#level_change_1').attr("disabled", true);
		$('#level_change_1').text("Level Completed");
		$('#level_change_1').addClass('btn-success');
	}
	else{
		$('#level_change_1').attr("disabled", true);
	}

	if ("{{l2}}"=== "Completed" && "{{user_level_2}}" === "N"){
		$('#level_change_2').addClass('btn-primary');
		$('#level_change_2').text("Click here to complete Level");
	}
	else if ("{{l2}}"=== "Completed" && "{{user_level_2}}" === "Y"){
		$('#level_change_2').attr("disabled", true);
		$('#level_change_2').text("Level Completed");
		$('#level_change_2').addClass('btn-success');
	}
	else{
		$('#level_change_2').attr("disabled", true);
	}

	if ("{{l3}}"=== "Completed" && "{{user_level_3}}" === "N"){
		$('#level_change_3').addClass('btn-primary');
		$('#level_change_3').text("Click here to complete Level");
	}
	else if ("{{l3}}"=== "Completed" && "{{user_level_3}}" === "Y"){
		$('#level_change_3').attr("disabled", true);
		$('#level_change_3').text("Level Completed");
		$('#level_change_3').addClass('btn-success');
	}
	else{
		$('#level_change_3').attr("disabled", true);
	}
});


function level_value(clicked_value) {
	console.log(clicked_value)
	 location.reload(true);

	$.ajax({
	type: "POST",
	url: '/testing/',
	data: {csrfmiddlewaretoken: '{{csrf_token}}', clicked_value:clicked_value
	},
});

}

</script>

{% endblock %}